@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Righteous&display=swap');

* {
    font-family: 'Rajdhani', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.top {
    background-image: url('/images/vector-SEP-2020-119_generated.jpg');
    color: black;
}

#name, #title {
    font-family: 'Righteous', cursive;
}
